// Custom styles for colomr.pm

// Define variables needed for badges (from theme)
$bg-color: #fafafa !default;
$fg-color: #212121 !default;
$alt-bg-color: #e0e0e0 !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;

// Dark mode variables
$bg-color-dark: #212121 !default;
$fg-color-dark: #dadada !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #dadada !default;
$lighter-alt-bg-color-dark: #4f4f4f !default;
$link-color-dark: #42a5f5 !default;

// Sticky header
.navigation {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $bg-color;
  height: auto;
  padding: 0.4rem 0;
}

body.colorscheme-dark .navigation {
  background-color: $bg-color-dark;
}

// Center content vertically on home page
.wrapper {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem); // subtract header height
  }
}

// Import badges styles
@import "badges";
@import "badges_dark";
